<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/users_style.css">
    <title>User Management</title>
</head>
<body>

    <!--The code for the side bar on the page where the navigation for dashboard, user and recipe management can be found-->
    <div class="side-bar">
        <div class="brand-name">
            <h3>DWB</h3>
        </div>
        <ul>
            <!-- Dashboard with a link -->
            <li>
                <a href="../view/dashboard.html">
                    <img src="../assets/images/9055226_bxs_dashboard_icon.png">
                    <p><span>Dashboard</span></p>
                </a>
            </li>
    
            <!-- User Management with a link -->
            <li>
                <a href="../view/users.html">
                    <img src="../assets/images/8665306_circle_user_icon.png">
                    <p><span>User Management</span></p>
                </a>
            </li>
    
            <!-- Recipe Management with a link -->
            <li>
                <a href="../view/restaurants_manage.html">
                    <img src="../assets/images/2639899_restaurant_icon.png">
                    <p><span>Restaurant Management</span></p>
                </a>
            </li>
        </ul>
    </div>

    <!--The code for the top section where the user management name and background design appear-->
    <header class="top">
        <div class="top-section">
            <h1>User Management</h1>
                
        </div>
    
    </header>

    <!--The code for the table section where a table with four columns can be found-->
    <section class="table-section">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        
            <!--The code to fill the rows in the columns for the table-->
            <tr>
                <td>1</td>
                <td>Christable Owusu</td>
                <td>christableowusu@gmail.com</td>
                <!--The code for the three action buttons in the action column to delete, view and update-->
                <td>
                    <a href="#view1" class="btn">View</a>
                    <a href="#update1" class="btn">Update</a>
                    <a href="#delete1" class="btn">Delete</a>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Clifford Armah</td>
                <td>armahcliff@gmail.com</td>
                <td>
                    <a href="#view2" class="btn">View</a>
                    <a href="#update2" class="btn">Update</a>
                    <a href="#delete2" class="btn">Delete</a>
                </td>
            </tr>

            
        
            
        </table>
        
    </section>
    <!--The pop up menu that appears when you click on the view button-->
    <section id="view1" class="popup">
        <!--The content that appears on the pop up menu-->
        <div class="popup-content">
            <h2>User Details</h2>
            <p><b>Name:</b> Christable Owusu</p>
            <p><b>Email:</b> christableowusu@gmail.com</p>
            <p><b>Password:</b> ********</p>
            <a href="#" class="btn">Close</a>
        </div>
    </section>

    <section id="view2" class="popup">
        <div class="popup-content">
            <h2>User Details</h2>
            <p><b>Name:</b> Clifford Armah</p>
            <p><b>Email:</b> armahcliff@gmail.com</p>
            <p><b>Password:</b> ********</p>
            <a href="#" class="btn">Close</a>
        </div>
    </section>

    

    <!--The code for the popup menu that appears when you click on the delete button-->
    <section id="delete1" class="popup">
        <!--The code for the content on the popup menu that appears-->
        <div class="popup-content">
            <h2>User Details</h2>
            <p><b>Name:</b> Christable Owusu</p>
            <p><b>Email:</b> christableowusu@gmail.com</p>
            <p><b>Password:</b> ********</p>
            <a href="#" class="btn">Delete</a>
        </div>
    </section>

    <section id="delete2" class="popup">
        <div class="popup-content">
            <h2>User Details</h2>
            <p><b>Name:</b> Clifford Armah</p>
            <p><b>Email:</b> armahcliff@gmail.com</p>
            <p><b>Password:</b> ********</p>
            <a href="#" class="btn">Delete</a>
        </div>
    </section>

    

    <!--The code for the popup menu that appears when you click on the update button-->
    <section id="update1" class="popup">
        <!--The code for the content on the popup menu-->
        <div class="popup-content">
            <h2>Update User Details</h2>
            <form action="#">
                <label for="name">Name:</label>
                <input type="text" id="name" value="Christable Owusu"><br><br>
    
                <label for="email">Email:</label>
                <input type="email" id="email" value="christableowusu@gmail.com"><br><br>
    
                <label for="password">Password:</label>
                <input type="password" id="password" value="********"><br><br>
    
                
                <a href="#" class="save-btn">Save Changes</a>
            </form>
        </div>
    </section>

    <section id="update2" class="popup">
        <div class="popup-content">
            <h2>Update User Details</h2>
            <form action="#">
                <label for="name">Name:</label>
                <input type="text" id="name" value="Clifford Armah"><br><br>
    
                <label for="email">Email:</label>
                <input type="email" id="email" value="armahcliff@gmail.com"><br><br>
    
                <label for="password">Password:</label>
                <input type="password" id="password" value="********"><br><br>
    
                
                <a href="#" class="save-btn">Save Changes</a>
            </form>
        </div>
    </section>

    





</body>
</html>